{% extends 'base.html.twig' %}

{% block title %}E-Commerce{% endblock %}

{% block body %}
    {% if product %}
        <table id="product" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for flashMessage in app.session.flashbag.get('error') %}

                {{ flashMessage }}

            {% endfor %}
                {% for product in product %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.availableQty }}</td>
                        <td>
                            <a href="/product/{{ product.id }}" class="btn btn-dark">Detail</a>
                            <a href="/product/addtocart/{{ product.id }}" class="btn btn-light btn-secondary add-to-cart" data-id="{{ product.id }}">Add to Cart</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ product.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No product in here</p>        
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}