{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% if cartItems %}
        <table id="cartItems" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for flashMessage in app.session.flashbag.get('error') %}

                {{ flashMessage }}

            {% endfor %}
                {% for cartItems in cartItems %}
                    <tr>
                        <td>{{ cartItems.name }}</td>
                        <td>{{ cartItems.quantity }}</td>
                        <td>{{ cartItems.totalPrice }}</td>
                        <td>
                            <a href="/cart/delete/{{ cartItems.id }}" class="btn btn-dark">Delete</a>
                            {# <a href="/product/addtocart/{{ product.id }}" class="btn btn-light edit-article" data-id="{{ product.id }}">Add to Cart</a> #}
                            {# {{form_start(form)}}
                            {{form_widget(form)}}
                            {{form_end(form)}} #}
                            {# <a href="#" class="btn btn-danger delete-article" data-id="{{ product.id }}">Delete</a> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/cart/checkout" class="btn btn-dark">Checkout</a>
    {% else %}
        <p>No product in here</p>        
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}